<article class="post">
    <div class="title">
        <a href="{{post_data}}" target="_blank">{{title}}</a>
        {{!-- <span>({{format_data post_data}})</span> --}}
        <span>({{post_data}})</span>
    </div>
    <div class="meta">
        |
        <a href="/post/{{id}}">{{comments.length}} Comments(s)</a>
    </div>
</article>