
{{> post-info post}}

{{#if post.comments.length}}
<div class="container-fluid border border-dark border-3 rounded-3 my-2 shadow" style="width: 70%;">
    <div class="d-flex flex-wrap row justify-content-between bg-dark ">
        <div class="col-12 text-center text-warning  fs-3">
            Comments
        </div>
    </div>
    {{#each post.comments}}
    <div class="d-flex flex-wrap justify-content-center row bg-dark bg-gradient">
        <a data-post="{{post.id}}" href="/edit-comment/{{id}}"
            class="text-decoration-none col-sm-12 text-start text-warning border border-warning rounded-bottom my-2 fs-6 p-3 bg-dark bg-gradient"
            style="width: 99%;"> {{comment_text}}
            <div class="col-sm-12 text-start text-muted border-top mt-1 border-dark p-1 font-arial"
                style="font-size:smaller;"> {{user.username}} added a comment on this post on {{format_date created_at}}
            </div>
        </a>
    </div>
    {{/each}}
</div>
{{/if}}

<div class="container-fluid border border-dark border-3 rounded-3 my-2 shadow" style="width: 70%;">
    <div class="d-flex flex-wrap row justify-content-between bg-dark bg-gradient">
        <div class="col-12 text-center text-warning fs-3">
            Add Comment
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center row bg-dark ">
        <div class="col-sm-12 text-start text-warning border border-warning rounded-bottom my-2 fs-6 p-3 ps-1 bg-dark bg-gradient d-flex flex-wrap justify-content-end"
            style="width: 98%;">

            <div class="input-group my-3 col-12 d-flex flex-wrap justify-content-center"
                style="width: 98%; height: 5rem;">
                <textarea id="comment-body" class="form-control bg-dark text-warning border-warning" id="post-body"
                    rows="3"></textarea>
            </div>

            <div class="col-12 d-flex flex-wrap justify-content-center" style="width: 98%;">
                <button type="button" id="post-comment"
                    class=" col-10 col-lg-4 btn btn-dark btn-lg border-warning my-2"><span
                        class="me-3 text-warning">+</span>Add Comment</button>
            </div>

        </div>
    </div>
</div>

<script src="/javascript/add-comment.js"></script>